html, body {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding: 0;
}
canvas {
  display: block;
}

p {
	display: inline-block;
}

div {
	display: inline-block;
}

#posX , #posY{
	background-color: lightsalmon;
}

#total{
	background-color: lightblue;
	width: 3em;
}

#gridWidth, #gridHeight{
  width: 50px;
}