@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');

:root{
	--sand-color: yellow;
	--stone-color: gray;
	--wood-color: brown;
	--water-color: blue;
	--steam-color: lightgray;
	--fire-color: red;
	--dirt-color: brown;
	--oil-color: darkgrey;
	--gas-color: purple;
	--acid-color: green;
	--gunpowder-color: black;
	--lava-color: red;
	--ice-color: lightblue;

	--background-color: #33658A;
	--default-white-color: #FCFAF9;
	--default-black-color: #0A0903;
	--select-color: #C7EF00;
	--default-red-color: #DA3E52;
	--shadow-color: rgba(0, 0, 0, 0.25);
	--hover-color: yellow;
}

html, body, button {
	font-family: 'Geo', sans-serif;
    font-size: 24px;
	background-color: var(--background-color);
	color: var(--default-black-color);
}

.title-container{
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	color: var(--default-white-color);
	font-size: 72px;
}

.left-container, .right-container {
	display: block;
}

.right-container, .middle-container, .left-container{
	margin-left: 25px;
}

.content-container{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
}

.meta-data{
	display: flex;
	color: var(--default-white-color);
	justify-content: center;
}

.meta-data span {
	padding-right: 40px;
}

.meta-data div {
	margin-right: 120px;
}

input[type="radio"] {
	opacity: 0;
	position: fixed;
	width: 0;
}

label, .reset-button button {
	display: flex;
	background-color: var(--default-white-color);
    border-radius: 10px;
	user-select: none;
	box-shadow: 3px 3px 4px var(--shadow-color);
}

.reset-button {
	margin-top:80px;
}

.reset-button-mobile button{
	background-color: var(--default-white-color);
	border-radius: 10px;
}

.reset-button button{
	width:170px;
	height:75px;
	font-size: 48px;
	align-items: center;
	justify-content: center;
}

.radio-button label, .reset-button-mobile button{
	width: 150px;
	height: 47px;
	align-items: center;
	margin-bottom: 10px;
}

.element-rect{
	width: 30px;
	height: 30px;
	margin-left: 10px;
	margin-right: 15px;
	border-radius: 10px;
}

.brush-select label, .brush-size label{
	width: 60px;
	height: 60px;
	padding: 1px;
	margin: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--default-white-color)
}

.pixel-size label{
	width: 142px;
	height: 50px;
	/* padding-top: 5px;
	padding-bottom: 5px; */
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 12px;
}

.brush-size label, .brush-select label, .left-side, .right-side{
	margin-left: 7px;
	margin-right: 7px;
}

.pixel-size, .brush-select, .brush-size, .reset-button{
	display: flex;
	justify-content: center;
}

.left-side, .right-side{
	margin-right: 7px;
	margin-left: 7px;
}

.right-container-title {
	text-align: center;
	color: var(--default-white-color);
	margin-bottom: 10px;
	margin-top: 25px;
}

:checked + label, :hover + label{
	background-color: var(--select-color);
	box-shadow: inset 3px 3px 4px var(--shadow-color);
}

#no-radio:checked + label, #no-radio:hover + label{
	background-color: var(--default-red-color);
}

#gunpowder-label .text-button-left{
	font-size: 20px;
}

.title-container span {
	margin-right: 120px;
}

#rect-span, #round-span, #size-1-span, #size-3-span, #size-5-span, #size-10-span{
	width: 30px;
	height: 30px;
    border: 2px solid var(--default-black-color);
}

#round-span{
	border-radius: 100%;
}

#size-1{
	padding-left:20px;
}

#size-1-span {
	width: 10%;
	height: 10%;
}

#size-3-span {
	width: 20%;
	height: 20%;
}

#size-5-span {
	width: 45%;
	height: 45%;
}

#size-10-span {
	width: 60%;
	height: 60%;
}



#sand-label .element-rect{
	background-color: var(--sand-color);
}

#stone-label .element-rect{
	background-color: var(--stone-color);
}

#wood-label .element-rect{
	background-color: var(--wood-color);
}

#water-label .element-rect{
	background-color: var(--water-color);
}

#steam-label .element-rect{
	background-color: var(--steam-color);
}

#fire-label .element-rect{
	background-color: var(--fire-color);
}

#dirt-label .element-rect{
	background-color: var(--dirt-color);
}

#oil-label .element-rect{
	background-color: var(--oil-color);
}

#gas-label .element-rect{ 
	background-color: var(--gas-color);
}

#acid-label .element-rect{
	background-color: var(--acid-color);
}

#gunpowder-label .element-rect{
	background-color: var(--gunpowder-color);
}

#lava-label .element-rect{
	background-color: var(--lava-color);
}

#ice-label .element-rect{
	background-color: var(--ice-color);
}
