html, body {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
canvas {
  display: block;
}
button {
  display: inline;
  margin: 2px;
  padding: 2px;
}

div {
  margin:auto;
  display: inline-block;
  position:center;
}

p {
  padding:2px;
  background:orange;
}